Thumbs.db
.DS_Store
.gradle
build/
classes/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
bin/
.git/
catalina*
logs/
*.log
*.cache
gradle
/gradlew
gradlew*
.apt_generated
.factorypath
.springBeans
.lock
out/
*.bak
